# Wails build artifacts
build/bin

# Frontend dependencies and build
node_modules
frontend/dist

# Go build and debug files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
debug/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
